<h1 class="my-3">Tweet</h1>

<div class="container my-4 shadow p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="col-1 container-fluid my-5">
            <%= image_tag  "#{@tweet.user.image_url}", class:" rounded-circle img-thumbnail" %>

        </div>
        <div class="col container-fluid">
            <div class="card container my-3" style="width: 50rem;">
                <%= image_tag  "#{@tweet.image_url}", class: "card-img-top m-2" %>
                <div class="card-body">
                    <p class="card-text"><%= @tweet.content%></p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <%= link_to  "#{@tweet.total_like} Like", likes_path(@tweet.id), method: :post, class:"btn btn-primary"%>
                            <%= link_to  "#{@tweet.total_retweet} Retweet", retweets_path(@tweet.id), method: :post, class:"btn btn-primary"%>
                        </li>
                        <li>
                            <p>Hace: <%=@tweet.created_at.strftime("%Y-%m-%d")%> </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<%= link_to  "Volver", tweets_path, class:"btn btn-primary my-5" %>


    
    
